DATABASE_URL=postgresql://postgres:postgres@localhost:5432/carte_etudiant

BETTER_AUTH_SECRET="<secret_32_chars_minimum>"
BETTER_AUTH_URL="http://localhost:3000"
FRONTEND_URL="http://localhost:3001"

R2_ENDPOINT="https://<account_id>.r2.cloudflarestorage.com"
R2_ACCESS_KEY_ID="<r2_access_key>"
R2_SECRET_ACCESS_KEY="<r2_secret_key>"
R2_BUCKET="carte-etudiant-photos"
R2_PUBLIC_URL="https://pub-<hash>.r2.dev"

PORT=3000
